
/** {*/
  /*border: 2px solid red;*/
/*}*/
body, * {
  background: #F2F1E8;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.container {
display: flex;
flex-direction: row;
background: #FFFFFF;
width: 100vw;
height: 70px;



}


#logo{
  background: #FFFFFF;
  height: 70px;
  width: 70px;
  align-self: flex-start;
}
.nav-bar{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: white;
  padding: 10px;
}
.nav-bar a{
  padding: 2px;
  /*margin-left: 100px;*/
  border: 2px solid white;
  border-radius: 3px;
  color: #2B2F26;
  /*text-decoration: none;*/
  font-weight: 500;
  background: #FFFFFF;
}
.nav-bar a:hover{
  padding: 2px;
  /*margin-left: 100px;*/
  border: 2px solid white;
  border-radius: 3px;
  color: #CD5D67;
  /*text-decoration: none;*/
  font-weight: 500;
  background: #FFFFFF;

}

.nav-bar a:active{
  padding: 2px;
  /*margin-left: 100px;*/
  border: 2px solid white;
  border-radius: 3px;
  color: #968772;
  /*text-decoration: none;*/
  font-weight: 500;
  background: #FFFFFF;
}

/*#top {*/
  /*margin-top: 10vh;*/
/*margin-left: 10vw;*/
/*width: 100vw;*/
/*height: 20vh;*/
/*display: flex;*/
/*justify-content: center;*/
/*}*/
h1{
  font-size: 40pt;
  margin-bottom: 5vh;
  padding-top: 5vh;
  display:flex;
  justify-content: center;
}
.heading img {

    width: 15vw;
    height: 15vh;
    float: left;
    padding: 15px;
}
.heading{
  width: 80vw;
  height: 20vw;
margin-left: 5vw;
margin-right: 5vw;
  /*background-image: url("img/birdhouse.jpg");*/
  /*background-size: 20%;*/
  /*background-repeat: no-repeat;*/
  /*padding-top: 5vh;*/
  /*margin-left: 4vw;*/
  /*margin-right: 10vw;*/
  /*height: 40vh;*/
}/*}*/
/*.heading a{*/
  /*width: 20vw;*/
  /*height: 20vh;*/
  /*background-image: url("img/birdhouse.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: 20vw 20vh;*/
/*}*/


/*.heading h1{
  background: none;
  /*display: flex;*/
  /*justify-content: center;*/
  /*font-size: 30pt;*/

.heading p{
  font-size: 15pt;

  /*margin-left: 25vw;*/
  /*width: 75vw;*/

}


.quote{

  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  border-left: 4px solid gray;
  margin-top: 1vh;
  margin-left: 5vw;
  margin-right: 5vw;
  font-style: italic;
  font-size: 15pt;
}
.quote p{
  padding-left: 5vw;
}
.part_two{
  padding-right: 20vw;
  padding-top: 5vh;
  /*margin-right: 5vw;*/
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.part_two h3{
  font-size: 20pt;
  padding-left: 5vw;
  display: flex;
  justify-content: flex-start;
}
.part_two p{
  font-size: 15pt;
  padding-left: 5vw;
}






.center_image {
  display: flex;
}





#image{
background-image: url("img/background-3.jpg");
display: flex;
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 60vh;
}

#image h1{
  font-size: 36pt;
  margin-top: 15vh;
  background: none;
  color: #FFFFFF;
  align-self: center;
  /*margin-left: 2vw;*/
}


.third_section {

  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 60vh;
  margin-top: 5vh;

}
.facilities{
  font-size: 15pt;
  /*align-self: center;*/
  width: 38vw;
  margin-left: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;


}
.side_caption {
  background-position: top;
  background-size: 55%;
  background-repeat: no-repeat;
  background-image: url("img/background-1.jpg");
  width: 35vw;
  padding-top: 30vh;
  padding-left: 12vw;
  padding-right: 10vw;
}

.foot_table h3{
  font-size: 15pt;

}
.foot_table{
  margin-left: 5vw;
  padding-bottom: 5vh;
}

table{
  background: none;
  width: 60vw;
  height: 30vh;
  /*padding-bottom: 5vh;*/
  border: 3px solid gray;
}
.foot_table th{
  background: none;
  border: 4px solid #968772;
}
.foot_table td{
  border: 2px solid #968772;
}


#row_one{
  background: #F2F1E8;
}
footer {
  margin-top: 5vh;
  font-weight: 400;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 2vw;

  color: white;
  background: #2B2F26;
