/** {*/
  /*border: 2px solid red;*/
/*}*/

body,* {
  margin: 0;
  padding: 0;
  background-color: #F2F1E8;
}
.container {
display: flex;
flex-direction: row;

background: #FFFFFF;
width: 100vw;
height: 70px;
}

header{
  display: flex;
  flex-direction: column;
  /*padding-bottom: 100px;*/
}

h1 {
  color: #131511;
  align-self: center;
  padding-top: 2vh;
}
h2{
  color: #131511;

  align-self: center;
  padding-bottom: 2vh;
}


.nav-bar{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: #FFFFFF;
  padding: 10px;
}

.nav-bar a{
  padding: 2px;
  /*margin-left: 100px;*/
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  color: #2B2F26;
  /*text-decoration: none;*/
  font-weight: 500;
  background: #FFFFFF;
}
.nav-bar a:hover{
  padding: 2px;
  /*margin-left: 100px;*/
  border: 2px solid white;
  border-radius: 3px;
  color: #CD5D67;
  /*text-decoration: none;*/
  font-weight: 500;
  background: #FFFFFF;

}

.nav-bar a:active{
  padding: 2px;
  /*margin-left: 100px;*/
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  color: #968772;
  /*text-decoration: none;*/
  font-weight: 500;
  background: #FFFFFF;

}


#logo{
  background: #FFFFFF;
  height: 50px;
  width: 50px;
  align-self: flex-start;}

.first_section_pictures {
  display: flex;
  flex-direction: row;


  }
  #one {
  background-image: url("img/product-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 60vw;
  margin: 4px;
}
#two{
background-image: url("img/product-2.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 50vh;
width: 20vw;
margin: 4px;
}

#three{
background-image: url("img/product-3.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 50vh;
width: 20vw;
margin: 4px;
}

#four{
background-image: url("img/product-4.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 40vh;
width: 25vw;
margin: 4px;
}
#five{
background-image: url("img/product-5.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 40vh;
width: 25vw;
margin: 2px;
}
#six{
background-image: url("img/product-6.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 40vh;
width: 25vw;
margin: 4px;
}

#seven{
background-image: url("img/product-7.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 40vh;
width: 25vw;
margin: 4px;
}

h3{
color: white;
background: #2B2F26;
/*background: #968772;*/
margin-top: 35vh;
float:left;
padding: 4px;
font-weight: 400;
/*padding-bottom:*/
/*margin-top:*/
}

footer {
  font-weight: 400;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 2vw;

  color: white;
  background: #2B2F26;
}
